body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.imgur.com/2QjpPFy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
  }
  
  .container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 200px;
  }
  
  button {
    padding: 8px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #weatherInfo {
    margin-top: 20px;
    color: #333;
  }
  